@import url("../dashboard.css");
@import url("../default.css");

@media screen {

    .alerta,
    .card-alerta {
        padding: 5px 10px;
    }

    .alerta h4,
    .card-alerta h4 {
        font-weight: 500;
        font-size: 16px;
    }

    .alerta span,
    .card-alerta span,
    .card-alerta p {
        color: var(--color-opaque2);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .container {
        width: 100%;
        height: auto;
        margin: 2vh 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card-alerta {
        width: 300px;
        min-height: 80px;
        margin-bottom: 5px;
        border: solid 2px;
        border-radius: 5px;
    }

    .alerta-auto {
        color: #C5373E;
        background-color: #FDE8E8;
        border-color: #C5373E40;
    }

    .alerta-medio {
        color: #D77706;
        background-color: #FFE8DE;
        border-color: #D7770635;
    }

    .alerta-baixo {
        color: #dfbc1e;
        background-color: #FFF3DD;
        border-color: #FDD83540;
    }

    .alerta-atualizacao {
        color: #0349A7;
        background-color: #ddedff;
        border-color: #0349A750;
    }
}

@media screen and (max-width: 480px) {

    .alerta h4,
    .card-alerta h4 {
        font-size: 18px;
    }

    .alerta span,
    .card-alerta span,
    .card-alerta p {
        color: var(--color-opaque2);
        font-size: 16px;
    }

    .card-alerta {
        width: 95%;
        min-height: 80px;
        margin-bottom: 5px;
        border: solid 2px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}

.tabela-servidores {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.tabela-servidores thead {
  background-color: #f9f8fd;
}

.tabela-servidores th {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 0.7rem;
  color: #8a8f98;
  text-align: center;
  padding: 10px 6px;
  font-weight: 700;
}

.tabela-servidores td {
  padding: 8px 6px;
  border-bottom: 1px solid #ececec;
  vertical-align: middle;
  font-size: 0.75rem;
  text-align: center;
}

.tabela-servidores tbody tr:hover {
  background-color: #f4f7fc;
}

.tabela-servidores tbody tr:last-child td {
  border-bottom: none;
}

.nome-servidor {
  font-weight: 600;
  display: block;
}

.servidor-id {
  color: #9aa0a6;
  font-size: 0.7rem;
}

.etiqueta {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
  display: inline-block;
}

.tabela-servidores select {
  padding: 4px 6px;
  border-radius: 5px;
  border: 1px solid #e3e7ed;
  font-size: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}

.container-barra {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}