@import url('default.css');

body {
    display: flex;
    justify-content: center;
}

.login-input {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    padding-top: 7vh;
}

.login-input h1 {
    padding-bottom: 2vh;
    text-align: left;
}

.login-input input {
    border: 2px solid var(--color-divider);
    background-color: var(--color-ghost);
    width: 35vw;
    height: 7vh;
    color: var(--color-opaque);
    padding-left: 12px;
    transition: 180ms ease-in-out;
}

.paragrafo-login label {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--color-dark);
}

.paragrafo-login label {
    display: flex;
    flex-direction: column;
}

.bloco-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco-input span {
    color: var(--color-opaque);
}

.bloco-input a:hover {
    transition: 180ms ease-in-out;
    color: var(--color-blue);
}

.h1-login {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.bloco-input .buttons {
    margin-top: 20px;
    display: flex;
    color: var(--color-black);
    text-transform: uppercase;
}

.bloco-input .buttons button {
    transition: 180ms ease-in-out;
    text-transform: uppercase;
    font-weight: inherit;
    border: 2px solid var(--color-blue);
    padding: 16px 30px;
    color: var(--color-white);
    background-color: var(--color-blue);
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.bloco-input .buttons button:hover {
    background-color: var(--color-blue-hover);
}

.checks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.checks p {
    margin: 8px 0;
}

.check {
    color: var(--color-blue);
    margin-right: 5px;
}